@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbars and transitions */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #00685f40;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00685f;
}

/* Material Symbols alignment style */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
  vertical-align: middle;
}
